Teste/Connected Services/ReferenciaDePedido/Pedido1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:52679/v2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:52679/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:52679/v2/Imports">
      <xsd:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd4" namespace="http://localhost:52679/v2" />
      <xsd:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd0" namespace="http://localhost:52679/v1" />
      <xsd:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainLoja" />
      <xsd:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GerenciarPedido.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PedidoComposto_SalvarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarPedido" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_SalvarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_ProximoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ProximoPedido" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_ProximoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProximoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_PedidoSalvo_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoSalvo" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_PedidoSalvo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoSalvoResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_PedidoEnviado_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoEnviado" />
  </wsdl:message>
  <wsdl:message name="PedidoComposto_PedidoEnviado_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoEnviadoResponse" />
  </wsdl:message>
  <wsdl:portType name="PedidoComposto">
    <wsdl:operation name="SalvarPedido">
      <wsdl:input wsaw:Action="http://localhost:52679/v2/PedidoComposto/SalvarPedido" message="tns:PedidoComposto_SalvarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:52679/v2/PedidoComposto/SalvarPedidoResponse" message="tns:PedidoComposto_SalvarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProximoPedido">
      <wsdl:input wsaw:Action="http://localhost:52679/v2/PedidoComposto/ProximoPedido" message="tns:PedidoComposto_ProximoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:52679/v2/PedidoComposto/ProximoPedidoResponse" message="tns:PedidoComposto_ProximoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoSalvo">
      <wsdl:input wsaw:Action="http://localhost:52679/v2/PedidoComposto/PedidoSalvo" message="tns:PedidoComposto_PedidoSalvo_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:52679/v2/PedidoComposto/PedidoSalvoResponse" message="tns:PedidoComposto_PedidoSalvo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoEnviado">
      <wsdl:input wsaw:Action="http://localhost:52679/v2/PedidoComposto/PedidoEnviado" message="tns:PedidoComposto_PedidoEnviado_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:52679/v2/PedidoComposto/PedidoEnviadoResponse" message="tns:PedidoComposto_PedidoEnviado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>