Teste/Connected Services/ReferenciaDePedido/Pedido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainLoja" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainLoja" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagemProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeProduto" type="xs:int" />
      <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      <xs:element minOccurs="0" name="pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="PedidoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoSalvo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Produtos" nillable="true" type="tns:ArrayOfProduto" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduto" nillable="true" type="tns:ArrayOfProduto" />
</xs:schema>