Teste/Connected Services/ReferenciaDePedido/Pedido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GerenciarPedido.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GerenciarPedido.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52679/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainLoja" />
  <xs:complexType name="PedidoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PedidoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoSalvo" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainLoja" minOccurs="0" name="Produtos" nillable="true" type="q1:ArrayOfProduto" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoViewModel" nillable="true" type="tns:PedidoViewModel" />
</xs:schema>