Teste/Connected Services/ReferenciaDeProduto/Produto3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GerenciarProduto.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GerenciarProduto.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProdutoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bandeira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoriaProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagemProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeProduto" type="xs:int" />
      <xs:element minOccurs="0" name="idProduto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoViewModel" nillable="true" type="tns:ProdutoViewModel" />
</xs:schema>