Teste/Connected Services/ReferenciaDeProduto/Produto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:50115/v1" elementFormDefault="qualified" targetNamespace="http://localhost:50115/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50115/Produto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciarProduto.Modelo" />
  <xs:import schemaLocation="http://localhost:50115/Produto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainLoja" />
  <xs:element name="AdicionarNaFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciarProduto.Modelo" minOccurs="0" name="produto" nillable="true" type="q1:ProdutoViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarNaFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarNaFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessarFila">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessarFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessarFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProduto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarProdutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cadastro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainLoja" minOccurs="0" name="produto" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DomainLoja" minOccurs="0" name="produto" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>